<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net461" />
  <package id="EPPlus" version="4.5.3.1" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="itextsharp.pdfa" version="5.5.13" targetFramework="net461" />
  <package id="itextsharp.xmlworker" version="5.5.13" targetFramework="net461" />
  <package id="PdfReport" version="2.9.4" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net461" />
</packages>